<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      
        <link rel="stylesheet" href="/assets/styles.css">

    </head>

    <body>

        <div id="todo_table">
            <form>
                <input type="text" name="item" placeholder="Add new item.. " required>

                <button type="submit">Add Item</button>
            </form>

            <ul>
                <li>
                    Item 1
                </li>
                <li>
                    Item 2
                </li>
                <li>
                    Item 3
                </li>
                <li>
                    Item 4
                </li>

            </ul>

        </div>

       



    </body>
</html>
