<!DOCTYPE html>
<html>
    <head>
        <title>Todo App</title>
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script src="/assets/todo-list.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />

    </head>

    <body>
        <h1>My Todo List</h1>

        <div id="todo-table">
            <form>
                <div >
                
                <input style="float: left;width: 65vw"  type="text" name="item" placeholder="Add new item.. " required>

                <button style="float: right;width: 20vw" type="submit">Add Item</button>
            </div>
            </form>

            <ul>

                <% for (let i =0; i< todos.length; i++){ %>

                        <li>
                            <%= todos[i].item %>
                        </li>

                    <% } %>
               

            </ul>

        </div>

       



    </body>
</html>
